abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

body {
    margin: .5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

* {
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* LINKS ------------------------------------------------------------------------------ */

a, a:visited {
    color: #586e75;
}

a:hover, a:focus {
    color: #93a1a1;
}

/* FLOW ------------------------------------------------------------------------------ */

body * + * {
    margin-top: 1.5rem;
}

br {
    margin-top: 0;
}

li {
    margin-top: 0;
}

main {
    margin-top: 0;
}

.narrowed, section > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 32em;
    padding: 3rem 1rem;
}

main > div > .narrowed {
    padding-top: 1.5rem;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 400;
}

h1 code {
    margin-top: 0;
}

h1 {
    font-size: 3.906rem;
}

h2 {
    font-size: 3.125rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h1, h2 {
    margin-bottom: 2.1rem;
}

h2 a, h3 a {
    text-decoration: none;
}

h3 a:hover, h3 a:focus {
    outline: none;
    border-bottom: 1px solid;
}

section + section {
    margin-top: 0;
}

section:nth-child(even) {
    background: #eee8d5;
}

#articles {
    margin-top: 0;
}

h2 + p {
    margin-top: .25rem;
}

/* INLINE STYLES ------------------------------------------------------------------------------ */

em, i, q, cite {
    font-style: italic;
}

b, strong, abbr {
    font-weight: 600;
}

abbr {
    cursor: help;
    letter-spacing: 2px;
}

small {
    display: block;
    font-size: 1rem;
    line-height: 1.4;
}

sup {
    vertical-align: 0.5rem;
    font-size: 0.7rem;
}

#introduction {
    font-size: 1.8rem;
}

/* NAVIGATION ------------------------------------------------------------------------------ */

[role="navigation"] {
    background-color: #fdf6e3;
    text-align: center;
    border-bottom: 5px solid #eee8d5;
}

[role="navigation"] li {
    display: inline;
    list-style: none;
}

[role="navigation"] a {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 0 !important;
    color: #586e75;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

[role="navigation"] a:hover,
[role="navigation"] a:focus {
    outline: none;
    background-color: #93a1a1;
    color: #fdf6e3;
}

/* FOOTER ------------------------------------------------------------------------------ */

[role="contentinfo"] {
    text-align: center;
    padding: 3rem;
    background-color: #fdf6e3;
    border-top: 5px solid #eee8d5;
    color: #586e75;
}

[role="contentinfo"] a {
    color: #fff;
}

/* UTILITIES ------------------------------------------------------------------------------ */

.block {
    display: block;
}

.no-top-margin {
    margin-top: 0;
}

.bigger {
    font-size: 1.25rem;
}

.message {
    background: #b58900;
    color: #fff;
    padding: 1.5rem;
}

.message a, [role="contentinfo"] a {
    color: inherit;
}

/* SMALL SCREEN MENU ------------------------------------------------------------------------------ */

[aria-controls="nav"] {
    border-width: 0;
    background-color: #88739A;
    padding: 1rem;
    text-align: center;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    display: none;
    cursor: pointer;
}

[aria-controls="nav"]:before, [aria-controls="nav"]:after {
    content: '\0020\2014\0020';
}

[aria-controls="nav"]:hover, [aria-controls="nav"]:focus {
    background-color: #D89DA7;
}

[aria-controls="nav"] + * {
    margin-top: 0;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* SUBMISSIONS ------------------------------------------------------------------------------ */

.submission * + * {
    margin-top: 0.75rem;
}

.submission + .submission {
    padding-top: 1.5rem;
    border-top: 1px solid #AA9DB6;
}

time {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.author {
    font-size: 1.4rem;
}

.submission p + h3 {
    margin-top: 0;
}

.to-menu {
    text-align: center;
    margin-top: 3rem;
}

/* SVG ------------------------------------------------------------------------------ */

svg#brain {
    width: 2.5em;
    display: block;
    margin: 0 auto 1.25rem;
}

h1 img {
    max-width: 200px;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.3;
    }
}

rect:nth-child(odd) {
    -webkit-animation: pulse 3s infinite ease;
    animation: pulse 3s infinite ease;
    position: relative;
}

rect:nth-child(even) {
    -webkit-animation: pulse 4s infinite ease;
    animation: pulse 4s infinite ease;
    position: relative;
}

rect:nth-child(3n + 1) {
    -webkit-animation: pulse 2s infinite ease;
    animation: pulse 2s infinite ease;
    position: relative;
}

/* BREAKPOINTS ------------------------------------------------------------------------------ */

@media all and (max-width: 700px) {

    [role="navigation"] li {
        display: block;
        width: 100% !important;
        margin-top: 0 !important;
        border-top: 2px solid #fff;
    }

    [role="navigation"] a {
        display: block;
        width: 100%;
    }

    [aria-controls="nav"] {
        display: block;
    }

    [aria-controls="nav"] + #nav {
        display: none;
    }

    [aria-controls="nav"][aria-expanded="true"] + #nav {
        display: block;
    }

    .narrowed {
        padding-top: 1.5rem;
    }
}

@media all and (max-width: 550px) {

    svg#brain {
        width: 2.5em;
    }

}
